<template name="about">
<section id="main" class="wrapper">
	<div class="inner 12u">
		<header class="align-center">
			<img class="image round" src="images/TabaoLogo.png" style="max-width:30%"/>
			<h1>About Us</h1>
			<p> Tabao is a local food ordering platform like no other. Leveraging on crowdsourcing we aim to bring you food from the corners of Singapore at the lowest cost.  </p>
		</header>
		<hr />
		<header>
			<h2>Request</h2>
			<p>Users can request food, stating what food they would like and where they want it from. Prices are negotiable between individual parties.</p>
			<h2>Deliver</h2>
			<p>User can accept requests that are convenient for them, and pick up food en-route to their intended destinations to earn a sum.</p>
		</header>
	</div>
</section>
<footer id="footer">
	<div class="inner">
		<h2>Contact</h2>
		<ul class="actions">
			<li><span class="icon fa-phone"></span> <a href="#">(+65) 6123-4567</a></li>
			<li><span class="icon fa-envelope"></span> <a href="#">contact@tabao.com</a></li>
			<li><span class="icon fa-map-marker"></span>13 Computing Drive, Singapore 117417</li>
		</ul>
	</div>
	<div class="copyright">
		&copy; Tabao
	</div>
</footer>

</template>
