<template name="deliver">
	<section class="wrapper">
		<div class="inner">
			<h1 align="center">Delivery Requests</h1>
			{{#if equals requests.count 0}}
			<h3 align="center">No pending delivery requests at the moment, check back in a while!</h3>
			{{else}}
			<div class="table-wrapper">
				<table class="alt">
					<thead>
						<tr>
							<th>Food</th>
							<th>From</th>
							<th>To</th>
							<th>Price ($)</th>
						</tr>
					</thead>
					<tbody>
						{{#each requests}}
							<tr>
								<td><a href="viewRequest/{{_id}}">{{itemName}}</a></td>
								<td>{{getHawkerName fromLocation}}</td>
								<td>{{toLocation}}</td>
								<td>{{Price}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{/if}}
		</div>
	</section>
</template>