<template name="header">
	<header id="header">
		<nav class="left">
			<a href="#menu"><span>Menu</span></a>
		</nav>
		{{#if currentUser}}
		<nav class="right">
			<a href="/profile/{{currentUser.username}}" class="button">{{currentUser.username}}</a>
		</nav>
		{{/if}}
		<a href="/" class="logo">Tabao</a>
		<nav id="menu">
			<ul class="links">
				<li><a href="/">Home</a></li>
				{{#if currentUser}}
				<li><a href="/profile/{{currentUser.username}}">Profile</a></li>
				<li><a href="/request">Request</a></li>
				<li><a href="/deliver">Deliver</a></li>
				{{/if}}
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
	</header>
</template>