<template name="login">
<section class="wrapper">
	<div class="inner">
		<form method="post" class="login" id="loginForm" style="display:block" align="center">
			<input type="text" required name="username" placeholder="Username" /><br>
			<input type="password" required name="password" placeholder="Password" /><br>
			<input type="submit" value="Login" class="button fit" />
			<button class="special" id="loginSignupToggle">Click Here to Signup</button>
		</form>
		<form method="post" class="signup" id="signupForm" style="display:none" align="center">
			<input type="text" required name="username" placeholder="Username" /><br>
			<input type="password" required name="password" placeholder="Password" /><br>
			<input type="password" required name="passwordConfirm" onchange="form.password.pattern = this.value" placeholder="Confirm Password" /><br>
			<input type="submit" value="Signup" class="button special fit" />
			<button id="loginSignupToggle">Click Here to Login</button>
		</form>
	</div>
</section>
</template>