<template name="main">
	<!-- Banner -->
			<section id="banner">
				<div class="content">
					{{#if currentUser}}
					<h1>Welcome, {{currentUser.username}}</h1>
					{{else}}
					<h1>Welcome to Tabao</h1>
					{{/if}}
					<p>What would you like to eat today?</p>
					<ul class="actions">
						{{#if currentUser}}
						<li><a href="/request" class="button">Request</a></li>
						<li><a href="/deliver" class="button special">Deliver</a></li>
						{{else}}
						<li><a href="/login" class="button">Get Started</a></li>
						{{/if}}
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
			<div class="row inner">
				<div class="4u 12u$(medium)">
					<h3>No minimum cost</h3>
					<p>With this plaform, there is no minimum cost! Simply state a reasonable price, and someone en route to your location might just take up your request!</p>
				</div>
				<div class="4u 12u$(medium)">
					<h3>Unlimited Choices</h3>
					<p>Not bounded by any affiliations with restaurants, sky's the limit! Any food you desire you can have it without leaving the comfort of your home!</p>
				</div>
				<div class="4u 12u$(medium)">
					<h3>Power of crowdsourcing</h3>
					<p>Harnessing the power of the public, there will definitely be someone that is convinient to pick up your requests.</p>
				</div>
			</div>
			</section>
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>Tabao</h2>
					<figure>
					    <blockquote>
					        "Great food, Affordable price"
					    </blockquote>
					    <footer>
					        <cite class="author">Ryan & Justin</cite>
					        <cite class="company">Founder, Tabao</cite>
					    </footer>
					</figure>
				</div>
			</section>


</template>
