<template name="main">
	<!-- Banner -->
			<section id="banner">
				<div class="content">
					{{#if currentUser}}
					<h1 style="color:#f6755e">Welcome, {{currentUser.username}}</h1>
					{{else}}
					<h1 style="color:#f6755e">Welcome to Tabao</h1>
					{{/if}}
					<p style="color:white">What would you like to eat today?</p>
					{{#if currentUser}}
					<ul class="actions">
						<li><a href="/request" class="button">Request</a></li>
						<li><a href="/deliver" class="button special">Deliver</a></li>
					</ul>
					<ul class="actions">
						<li><a href="#" class="button alt" id="logout">Logout</a></li>
					</ul>
					{{else}}
					<div class="inner">
						<form method="post" class="login" id="loginForm" style="display:block; color:white;" align="center">
							<input type="text" required name="username" placeholder="Username" /><br>
							<input type="password" required name="password" placeholder="Password" /><br>
							<input type="submit" value="Login" class="button fit" />
							<button class="special" id="loginSignupToggle" style="padding: 0 10%">Click here to Signup</button>
						</form>
						<form method="post" class="signup" id="signupForm" style="display:none; color:white;" align="center">
							<input type="text" required name="username" placeholder="Username" /><br>
							<input type="password" required name="password" placeholder="Password" /><br>
							<input type="password" required name="passwordConfirm" onchange="form.password.pattern = this.value" placeholder="Confirm Password" /><br>
							<input type="submit" value="Signup" class="button special fit" />
							<button id="loginSignupToggle" style="padding: 0 10%">Click here to Login</button>
						</form>
					</div>
					{{/if}}
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
			<div class="row inner">
				<div class="4u 12u$(medium)" align="center">
					<i class="fa fa-dollar fa-5x" style="padding:10%"></i>
					<h3>No minimum cost</h3>
					<p align="left">With this plaform, there is no minimum cost! Simply state a reasonable price, and someone en-route to your location might just take up your request!</p>
				</div>
				<div class="4u 12u$(medium)" align="center">
					<i class="fa fa-list fa-5x" style="padding:10%"></i>
					<h3>Unlimited Choices</h3>
					<p align="left">Not bounded by any affiliations with restaurants, the sky's the limit! Any food you desire can be obtained without leaving the comfort of your home!</p>
				</div>
				<div class="4u 12u$(medium)" align="center">
					<i class="fa fa-users fa-5x" style="padding:10%"></i>
					<h3>Power of crowdsourcing</h3>
					<p align="left">Harnessing the power of the public, there will definitely be someone that is convenient to pick up your requests.</p>
				</div>
			</div>
			</section>
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>Tabao</h2>
					<figure>
					    <blockquote>
					        "Great food, Affordable price"
					    </blockquote>
					    <footer>
					        <cite class="author">Ryan & Justin</cite>
					        <cite class="company">Founders, Tabao</cite>
					    </footer>
					</figure>
				</div>
			</section>
</template>
