<template name="main">
	<!-- Banner -->
			<section id="banner">
				<div class="content">
					{{#if currentUser}}
					<h1>Welcome, {{currentUser.username}}</h1>
					{{else}}
					<h1>Ipsum sed lorem</h1>
					{{/if}}
					<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod<br />sed arcu cras consecuat lorem ipsum dolor sit amet.</p>
					<ul class="actions">
						{{#if currentUser}}
						<li><a href="/request" class="button">Request</a></li>
						<li><a href="/deliver" class="button special">Deliver</a></li>
						{{else}}
						<li><a href="/login" class="button">Get Started</a></li>
						{{/if}}
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
			<div class="row inner">
				<div class="3u 12u$(medium)">
					<h3>Feature 1</h3>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
				</div>
				<div class="3u 12u$(medium)">
					<h3>Feature 2</h3>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
				</div>
				<div class="3u 12u$(medium)">
					<h3>Feature 3</h3>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
				</div>
				<div class="3u$ 12u$(medium)">
					<h3>Feature 4</h3>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
				</div>
			</div>
			</section>
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>Feugiat lorem</h2>
					<figure>
					    <blockquote>
					        "Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra<br /> magna etiam lorem ultricies in diam. Sed arcu cras consequat."
					    </blockquote>
					    <footer>
					        <cite class="author">Jane Anderson</cite>
					        <cite class="company">CEO, Untitled</cite>
					    </footer>
					</figure>
				</div>
			</section>


</template>
