<template name="profile">
<section class="wrapper">
	<div class="inner" align="center">
		{{#if user}}
			<h1>{{user.username}}</h1>
			User since {{userSince}}
			{{#unless equals allRequests.count 0}}
			<h3>Current Requests</h3>
			<div class="table-wrapper">
				<table class="alt">
					<thead>
						<tr>
							<th>Food</th>
							<th>From</th>
							<th>To</th>
							<th>Price ($)</th>
						</tr>
					</thead>
					<tbody>
						{{#each allRequests}}
						<tr>
							<td><a href="../viewRequest/{{_id}}">{{itemName}}</a></td>
							<td>{{fromLocation}}</td>
							<td>{{toLocation}}</td>
							<td>{{Price}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{else}}
			<h3>No Current Requests</h3>
			{{/unless}}

			{{#unless equals allDeliveries.count 0}}
			<h3>Current Deliveries</h3>
			<div class="table-wrapper">
				<table class="alt">
					<thead>
						<tr>
							<th>Food</th>
							<th>From</th>
							<th>To</th>
							<th>Price ($)</th>
						</tr>
					</thead>
					<tbody>
						{{#each allDeliveries}}
						<tr>
							<td><a href="../viewRequest/{{_id}}">{{itemName}}</a></td>
							<td>{{fromLocation}}</td>
							<td>{{toLocation}}</td>
							<td>{{Price}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{else}}
			<h3>No Current Deliveries</h3>
			{{/unless}}
		{{else}}
			<h1>User not found</h1>
		{{/if}}
	</div>
</section>
</template>