<template name="profile">
<section class="wrapper">
	<div class="inner" align="center">
		{{#if user}}
			<h1>{{user.username}}</h1>
			User since {{userSince}}

			<div class="row inner">
				<div class="6u 12u$(medium)" id="requests">
					<h1>{{allRequests.count}}</h1>
					<h3>Total Requests</h3>
				</div>
				<div class="6u$ 12u$(medium)" id="deliveries">
					<h1>{{allDeliveries.count}}</h1>
					<h3>Total Deliveries</h3>
				</div>
			</div>

			{{#unless equals allRequests.count 0}}
			<div class="table-wrapper" id="requestsTable" style="display:none">
				<table class="alt">
					<thead>
						<tr>
							<th>Food</th>
							<th>From</th>
							<th>To</th>
							<th>Price ($)</th>
						</tr>
					</thead>
					<tbody>
						{{#each allRequests}}
						<tr>
							<td><a href="../viewRequest/{{_id}}">{{itemName}}</a></td>
							<td>{{fromLocation}}</td>
							<td>{{toLocation}}</td>
							<td>{{Price}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{/unless}}

			{{#unless equals allDeliveries.count 0}}
			<div class="table-wrapper" id="deliveriesTable" style="display:none">
				<table class="alt">
					<thead>
						<tr>
							<th>Food</th>
							<th>From</th>
							<th>To</th>
							<th>Price ($)</th>
						</tr>
					</thead>
					<tbody>
						{{#each allDeliveries}}
						<tr>
							<td><a href="../viewRequest/{{_id}}">{{itemName}}</a></td>
							<td>{{fromLocation}}</td>
							<td>{{toLocation}}</td>
							<td>{{Price}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			{{/unless}}
		{{else}}
			<h1>User not found</h1>
		{{/if}}
	</div>
</section>
</template>