<template name="request">
<section class="wrapper">
<div class="inner">
<h1 align="center">Request Delivery</h1>

	<form method="post" class="new-request">
		<div class="row uniform">
			<div class="1u 12u$(xsmall)"><h3>Item</h3></div>
			<div class="11u$ 12u$(xsmall)">
				<input type="text" name="itemName" id="itemName" placeholder="Item Name" required />
			</div>
			
			<div class="1u 12u$(xsmall)"><h3>From</h3></div>
			<div class="6u 12u$(xsmall)">
				<div class="select-wrapper">
					<select name="fromLocation" id="fromLocation" required>
						<option value="Hawker 1">Hawker 1</option>
						<option value="Hawker 2">Hawker 2</option>
						<option value="Hawker 3">Hawker 3</option>
						<option value="Hawker 4">Hawker 4</option>
					</select>
				</div>
			</div>
			<div class="5u$ 12u$(xsmall)">
				<input type="text" name="fromStall" id="fromStall" placeholder="Stall" required />
			</div>
			<div class="1u 12u$(xsmall)"><h3>To</h3></div>
			<div class="11u$ 12u$(xsmall)">
				<input type="text" name="toLocation" id="toLocation" placeholder="Address" required />
			</div>
			<div class="1u 12u$(xsmall)"><h3>Price($)</h3></div>
			<div class="11u$ 12u$(xsmall)">
				<input type="number" name="price" id="price" min="0" step="0.1" required />
			</div>
			<div class="1u 12u$(xsmall)"><h3>Remarks</h3></div>
			<div class="11u$ 12u$(xsmall)">
				<textarea name="remarks" id="remarks" placeholder="Any Remarks" rows="3"></textarea>
			</div>
			<!-- Break -->
			<div class="12u$" align="center">
				<ul class="actions">
					<li><input type="submit" value="Submit Request" /></li>
					<li><input type="reset" value="Reset" class="alt" /></li>
				</ul>
			</div>
		</div>
	</form>
</div>
</section>
</template>