<template name="viewRequest">
<section class="wrapper">
	<div class="inner" align="center">
		{{#with request}}
		<h1>Order Request</h1>
		<div class="table-wrapper">
			<table class="alt">
				<tbody>
					<tr>
						<td>Name</td>
						<td>{{request.itemName}}</td>
					</tr>
					<tr>
						<td>From</td>
						<td>{{getHawkerName request.fromLocation}} - {{request.fromStall}}</td>
					</tr>
					<tr>
						<td>To</td>
						<td>{{request.toLocation}}</td>
					</tr>
					<tr>
						<td>Price ($)</td>
						<td>{{request.Price}}</td>
					</tr>
					<tr>
						<td>Remarks</td>
						<td>{{request.Remarks}}</td>
					</tr>
					<tr>
						<td>Posted</td>
						<td>{{momentFormat request.Date "fromNow"}}</td>
					</tr>
					<tr>
						<td>Requestor</td>
						<td><a href="/profile/{{request.Requestor}}">{{request.Requestor}}</a></td>
					</tr>
					{{#if request.Deliverer}}
					<tr>
						<td>Deliverer</td>
						<td><a href="/profile/{{request.Deliverer}}">{{request.Deliverer}}</a></td>
					</tr>
					{{/if}}
				</tbody>
			</table>
		</div>

		{{#if or (equals request.Requestor currentUser.username) (equals request.Deliverer currentUser.username)}}
		{{#if equals request.Completed false}}<h3>Chat</h3>{{/if}}
		<div class="table-wrapper">
			<table>
				<tbody>
					{{#each request.Comments}}
					<tr>
						<td><strong><a href="/profile/{{this.[0]}}">{{this.[0]}}</a> says:</strong> {{this.[1]}}</td>
						<td align="right">{{momentFormat this.[2] "fromNow"}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		{{#if equals request.Completed false}}
		<form id="newComment">
			<input type="text" name="comment" placeholder="Enter to send" />
		</form>
		{{/if}}
		{{/if}}

		{{#if equals request.Completed false}}
			{{#if request.Deliverer}}
				{{#if equals request.Requestor currentUser.username}}
				<form id="ratingForm" style="display:none;">
					<h3 align="center">Rate your Deliverer</h3>
					<div class="ratingStars">
						<label><input type="radio" name="rating" value="1"><i class="fa fa-star fa-2x"></i></label>
						<label><input type="radio" name="rating" value="2"><i class="fa fa-star fa-2x"></i></label>
						<label><input type="radio" name="rating" value="3"><i class="fa fa-star fa-2x"></i></label>
						<label><input type="radio" name="rating" value="4"><i class="fa fa-star fa-2x"></i></label>
						<label><input type="radio" name="rating" value="5"><i class="fa fa-star fa-2x"></i></label>
					</div>
					<br><br>
					<input type="submit" id="markCompleted" class="button" value="Confirm" style="padding:0 5%">
				</form>
				<button id="markCompletedToggle" style="padding:0 5%">Mark Completed</button>
				{{/if}}
				{{#if equals request.Deliverer currentUser.username}}
				<a href="{{mapLink request.fromLocation request.toLocation}}" class="button special small" target="_blank" style="padding:0 5%">Directions</a>
				{{/if}}
			{{else}}
				{{#if equals request.Requestor currentUser.username}}
				<button id="delete" style="padding:0 5%">Delete</button>
				{{else}}
				<button id="deliver" style="padding:0 5%">Deliver</button>
				{{/if}}
			{{/if}}
		{{else}}
		<h4>The request has been completed</h4>
		{{/if}}
		{{/with}}
	</div>
</section>
</template>